[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = {index = "https://mirrors.aliyun.com/pypi/simple",version = "*"}
pytest-asyncio = {index = "https://mirrors.aliyun.com/pypi/simple",version = "*"}

[packages]
fastapi = {index = "https://mirrors.aliyun.com/pypi/simple",version = "*"}
uvicorn = {index = "https://mirrors.aliyun.com/pypi/simple",version = "*"}
dynaconf = {index = "https://mirrors.aliyun.com/pypi/simple",version = "*"}
asyncpg = {index = "https://mirrors.aliyun.com/pypi/simple",version = "*"}

[requires]
python_version = "3.7"
