[default]
db = {password='<DB USER'S PASSWORD>', dynaconf_merge=true}
db_owner = {password='<DB OWNER'S PASSWORD>', dynaconf_merge=true}
cookie_secret = '<COOKIE SECRET, for example ab9b658b927aa87522f86cf95cc7adc7>'


[development]
secret = 'secret for development'


[staging]
secret = 'secret for staging'


[testing]
secret = 'secret for testing'


[production]
secret = 'secret for production'


[global]
secret = 'secret for global'
